.bd(@name, @color) {
  @border: 1px solid @color;
  @borderImportant: @border !important;

  .bd-@{name} {
    border: @border;
  }
  .bd-t-@{name} {
    border-top: @borderImportant;
  }
  .bd-r-@{name} {
    border-right: @borderImportant;
  }
  .bd-b-@{name} {
    border-bottom: @borderImportant;
  }
  .bd-l-@{name} {
    border-left: @borderImportant;
  }
}

.bd(0, color('#000000'));
.bd(3, color('#333333'));
.bd(4, color('#444444'));
.bd(5, color('#555555'));
.bd(6, color('#666666'));
.bd(7, color('#777777'));
.bd(8, color('#888888'));
.bd(9, color('#999999'));
.bd(a, color('#aaaaaa'));
.bd(b, color('#bbbbbb'));
.bd(c, color('#cccccc'));
.bd(d, color('#dddddd'));
.bd(e, color('#eeeeee'));
.bd(f, color('#ffffff'));

// none
.bd-none {
  border: none;
}
.bd-l-none {
  border-left: none !important;
}
.bd-t-none {
  border-top: none !important;
}
.bd-r-none {
  border-right: none !important;
}
.bd-b-none {
  border-bottom: none !important;
}
