// 0-20
.bd-rd-loop(@counter) when (@counter <= 20) {
  @radius: if(@counter > 0, unit(@counter, px), 0);
  @radiusImportant: @radius !important;

  .bd-rd-@{counter} {
    border-radius: @radius;
  }
  .bd-rd-t-l-@{counter} {
    border-top-left-radius: @radiusImportant;
  }
  .bd-rd-t-r-@{counter} {
    border-top-right-radius: @radiusImportant;
  }
  .bd-rd-b-l-@{counter} {
    border-bottom-left-radius: @radiusImportant;
  }
  .bd-rd-b-r-@{counter} {
    border-bottom-right-radius: @radiusImportant;
  }
  .bd-rd-loop(@counter + 2);
}
.bd-rd-loop(0);

// 50%
.bd-rd-50-pc {
  border-radius: 50%;
}
.bd-rd-t-l-50-pc {
  border-top-left-radius: 50% !important;
}
.bd-rd-t-r-50-pc {
  border-top-right-radius: 50% !important;
}
.bd-rd-b-l-50-pc {
  border-bottom-left-radius: 50% !important;
}
.bd-rd-b-r-50-pc {
  border-bottom-right-radius: 50% !important;
}
