
// border

@common-border-base: 1px solid;

@common-border-0: @common-border-base #000000;
@common-border-3: @common-border-base #333333;
@common-border-6: @common-border-base #666666;
@common-border-9: @common-border-base #999999;
@common-border-a: @common-border-base #aaaaaa;
@common-border-b: @common-border-base #bbbbbb;
@common-border-c: @common-border-base #cccccc;
@common-border-d: @common-border-base #dddddd;
@common-border-e: @common-border-base #eeeeee;
@common-border-f: @common-border-base #ffffff;

.common-bd(@color, @border) {
    .bd-@{color} {
        // here should not add `!important`
        border: @border;
    }
    .bd-l-@{color} {
        border-left: @border !important;
    }
    .bd-t-@{color} {
        border-top: @border !important;
    }
    .bd-r-@{color} {
        border-right: @border !important;
    }
    .bd-b-@{color} {
        border-bottom: @border !important;
    }
}

.common-bd(0, @common-border-0);
.common-bd(3, @common-border-3);
.common-bd(6, @common-border-6);
.common-bd(9, @common-border-9);
.common-bd(a, @common-border-a);
.common-bd(b, @common-border-b);
.common-bd(c, @common-border-c);
.common-bd(d, @common-border-d);
.common-bd(e, @common-border-e);
.common-bd(f, @common-border-f);


// border: none
.bd-none {
    border: none;
}
.bd-l-none {
    border-left: none !important;
}
.bd-t-none {
    border-top: none !important;
}
.bd-r-none {
    border-right: none !important;
}
.bd-b-none {
    border-bottom: none !important;
}
