.f-s-loop(@counter) when (@counter =< 20) {
  .f-s-@{counter} {
    font-size: unit(@counter, px);
  }
  .f-s-loop(@counter + 1);
}
.f-s-loop(8);

// font-weight
.f-wg-bold {
  font-weight: bold;
}
.f-wg-normal {
  font-weight: normal !important;
}
