.f-s(@size) {
  font-size: unit(@size, px);
}

.f-s-loop(@counter) when (@counter =< 20) {
  .f-s-@{counter} {
    .f-s(@counter);
  }
  .f-s-loop(@counter + 1);
}
.f-s-loop(8);

// font-weight
.f-wg-bold {
  font-weight: bold;
}

.f-wg-normal {
  font-weight: normal !important;
}
