
// misc

// width size
.one-half {
    width: 50%
}
.one-third {
    width: 33.333333%
}
.two-thirds {
    width: 66.666666%
}
.one-fourth {
    width: 25%
}
.three-fourths {
    width: 75%
}
.one-fifth {
    width: 20%
}
.two-fifths {
    width: 40%
}
.three-fifths {
    width: 60%
}
.four-fifths {
    width: 80%
}

// float
.fl-left {
    float: left;
}
.fl-right {
    float: right;
}
.fl-none {
    float: none !important;
}

// overflow
.of-visible {
    overflow: visible !important;
}
.of-hidden {
    overflow: hidden !important;
}

// cursor
.cs-default {
    cursor: default !important;
}
.cs-pointer {
    cursor: pointer;
}

// position
.ps-absolute {
    position: absolute;
}
.ps-relative {
    position: relative;
}

// display
.dp-block {
    display: block;
}
.dp-inline-block {
    display: inline-block;
}
.dp-none {
    display: none;
}
.dp-table {
    display: table;
}
.dp-table-cell {
    display: table-cell;
}

// no-underline
.no-underline,
.no-underline:hover,
.no-underline:focus,
.no-underline:active {
    text-underline: none;
}

// clearfix
.clearfix:before,
.clearfix:after {
    display: table;
    content: " ";
}
.clearfix:after {
    clear: both;
}

// clear
.clear {
    clear: both
}
.clear-left {
    clear: left
}
.clear-right {
    clear: right
}

// text-align
.ta-left {
    text-align: left;
}
.ta-right {
    text-align: right;
}
.ta-center {
    text-align: center;
}
.ta-justify {
    text-align: justify;
}

// clean all default style, especially for `button` and `input`
.clean {
    background: none;
    outline: none;
    border: none;
    padding: 0;
    margin: 0;
}
