// position: left, top, bottom, right
.pos(@length) {
  .l-@{length} {
    left: unit(@length, px) !important;
  }
  .r-@{length} {
    right: unit(@length, px) !important;
  }
  .t-@{length} {
    top: unit(@length, px) !important;
  }
  .b-@{length} {
    bottom: unit(@length, px) !important;
  }
}

.pos-loop(@counter) when (@counter <= 20) {
  .pos(@counter);
  .pos-loop(@counter + 5);
}

.pos-loop(0);
