
// position: left, top, bottom, right

.common-pos(@length) {
    .l-@{length} {
        left: unit(@length, px) !important;
    }
    .r-@{length} {
        right: unit(@length, px) !important;
    }
    .t-@{length} {
        top: unit(@length, px) !important;
    }
    .b-@{length} {
        bottom: unit(@length, px) !important;
    }
}

.common-pos-loop(@counter) when (@counter <= 20) {
    .common-pos(@counter);
    .common-pos-loop(@counter + 5);
}

.common-pos-loop(0);
